* {
  box-sizing: border-box;
}

:root {
  --primary-color: #283142;
  --secondary-color: #1b2531;
  --light-color: #e9e9e9;
  --grey-light-50-color: #9aaabe;
  --grey-light-100-color: #949494;
  --grey-light-125-color: #72849a;
  --grey-light-150-color: #384459;

  --green-color: #08b976;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background: var(--primary-color);
  border-radius: 10px;
}

/* responsice.css */

@media screen and (max-width: 1200px) {
  /* abaixo de 1200 vai aplicar isso */
  .app-container .sales-overview-container {
    flex-direction: column;
  }

  .sales-overview-container .pie-chart-card {
    width: 100%;
    margin: 50px 0;
  }

  .app-container .sales-by-date-container {
    height: 540px;
  }

  .sales-by-date-container .sales-by-date-data {
    flex-direction: column;
    align-items: flex-start;
  }

  .sales-by-date-data .sales-by-date-quantity-container {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .sales-by-date-data .sales-by-date-chart {
    width: 100%;
  }

  .sales-overview-container .sales-summary-container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  /* abaixo de 992 vai aplicar isso */
  #root .app-container {
    padding: 0 10px;
  }

  .sales-summary-container .sales-summary-card:nth-of-type(3) {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 768px) {
  /* abaixo de 768 vai aplicar isso */
  .filter-container.base-card {
    flex-direction: column;
    height: 150px;
  }

  .filter-container .filter-input {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  /* abaixo de 576 vai aplicar isso */
  .sales-overview-container .sales-summary-container {
    flex-direction: column;
  }

  .sales-summary-container .sales-summary-card {
    width: 100%;
  }
}

.sales-table-container {
  overflow-x: auto;
}

.sales-table-container table thead th {
  padding: 10px;
}

.sales-table-container table tbody td {
  padding: 10px;
}
