.pie-chart-card {
  width: 28%;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column !important;
  align-items: center;
}
